body {
  font-family: 'Inter', sans-serif;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.bg-grid {
  background-image: radial-gradient(#3b82f6 0.5px, transparent 0.5px);
  background-size: 24px 24px;
  opacity: 0.1;
}
* {
  scroll-behavior: smooth;
}